.notfound-page {

  min-height: 100vh;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  background: var(--bg-primary);

  color: var(--text-primary);

  text-align: center;

}

.notfound-page h1 {

  font-size: 8rem;

  color: var(--verde-oscuro);

  margin-bottom: 0;

}

.notfound-page h2 {

  margin-top: 0;

}

.return{
    color: var(--verde-oscuro);
}
.return:hover{
    text-decoration: underline;
}